body {
    background: #101532;
    background-image: url('../images/background.svg');
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #6b6b6b; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(36, 35, 35); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }