input {
    background-color: #B7B7B7;
    border: 3px solid #000000;
    border-radius: 12px;
    height: 40px;
    width: 75%;
    padding-left: 40px;
    padding-bottom: 5px;
}

.searchImg {
    position: absolute;
    width: 30px;
    left: 22px;
    margin-top: 5px;
}